[submodule "anti_uav_ws/src/fcu_sim"]
	path = anti_uav_ws/src/fcu_sim
	url = https://github.com/byu-magicc/fcu_sim.git
[submodule "anti_uav_ws/src/ROSflight"]
	path = anti_uav_ws/src/ROSflight
	url = https://github.com/byu-magicc/ROSflight.git
