<launch>


  <arg name="mav1" default="defense_copter1"/>
  <arg name="mav2" default="defense_copter2"/>
  <arg name="mav3" default="defense_copter3"/>
  <arg name="mav4" default="defense_copter4"/>
  <arg name="mav5" default="intruding_mav"/>

  <arg name="world_file" default="basic.world"/>

  <!-- Start Simulator -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find fcu_sim)/worlds/$(arg world_file)"/>
    <arg name="paused" value="true"/>
    <arg name="gui" value="true"/>
  </include>


  <!-- Set Up 4 defense UAVs -->
  <include file="$(find anti_uav)/launch/single_mav.launch">
    <arg name="x" value="1.0"/>
    <arg name="y" value="1.0"/>
    <arg name="z" value="0.1"/>
    <arg name="yaw" value="3.14159"/>
    <arg name="mav_name" value="$(arg mav1)"/>
    <arg name="color" value="Yellow"/>
    <arg name="path" value="1"/>
    <arg name="starting_node_id" value="1"/>
  </include>

  <include file="$(find anti_uav)/launch/single_mav.launch">
    <arg name="x" value="5.0"/>
    <arg name="y" value="1.0"/>
    <arg name="z" value="0.1"/>
    <arg name="yaw" value="0.0"/>
    <arg name="mav_name" value="$(arg mav2)"/>
    <arg name="color" value="Turquoise"/>
    <arg name="path" value="1"/>
    <arg name="starting_node_id" value="500"/>
  </include>

 <include file="$(find anti_uav)/launch/single_mav.launch">
    <arg name="x" value="1.0"/>
    <arg name="y" value="5.0"/>
    <arg name="z" value="0.1"/>
   <arg name="mav_name" value="$(arg mav3)"/>
   <arg name="color" value="Blue"/>
 </include>  -->

  <include file="$(find anti_uav)/launch/single_mav.launch">
    <arg name="x" value="5.0"/>
    <arg name="y" value="5.0"/>
    <arg name="z" value="0.1"/>
    <arg name="mav_name" value="$(arg mav4)"/>
    <arg name="color" value="Red"/>
  </include> -->



  <!-- Set Up Intruding UAV -->
   <include file="$(find anti_uav)/launch/single_mav.launch">
     <arg name="x" value="10.0"/>
     <arg name="y" value="10.0"/>
     <arg name="z" value="10.0"/>
     <arg name="mav_name" value="$(arg mav5)"/>
     <arg name="color" value="Black"/>
   </include> -->


</launch>
