<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Visual Plugin (Test) -->
    <xacro:macro
      name="fleet_visual"
        params="namespace parent_link">
      <xacro:fleet_visual_macro
        namespace="${namespace}/fleet_visual"
        parent_link="${namespace}/base_link"
        parent_frame_id="${parent_link}">

        <gazebo>
          <visual>
            <plugin name='gazebo_fleet_visual' filename='libfcu_fleet_visual_plugin.so'>
              <robotNamespace>${namespace}</robotNamespace>
            </plugin>
            <pose>0 0 0 0 0 0</pose>
            <geometry>
              <!-- The following empty tag is needed because otherwise a
                   default box of size 1 1 1 is put in as a geometry -->
              <empty>
              </empty>
            </geometry>
          </visual>
        </gazebo>

      </xacro:fleet_visual_macro>
    </xacro:macro>

</robot>
